<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<mat-card class="flex">
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Select Building</mat-label>
      <mat-select [(ngModel)]="selectedBuildingId">
        <mat-option *ngFor="let item of buildingData" value="{{item.id}}">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select Object</mat-label>
      <mat-select [(ngModel)]="selectedObjectId">
        <mat-option *ngFor="let item of objectData" value="{{item.id}}">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select Data Field</mat-label>
      <mat-select [(ngModel)]="selectedDataFieldId">
        <mat-option *ngFor="let item of dataFieldData" value="{{item.id}}">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-fab aria-label="Search" (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-content>
    <canvas id="canvas"></canvas>
  </mat-card-content>
</mat-card>